.git/
.github/
.pytest_cache/
**/__pycache__
**/*.pyc
**/.DS_Store
**/node_modules
venv/
.env
.venv
.coverage
htmlcov/
.idea/
.vscode/
**/*.log
deploy-fly.ps1
setup-fly-secrets.ps1
setup-fly-infra.ps1
README-DEPLOY.md 
